@import "_reset.scss";
@import "_fonts.scss";

body {
	font-family: "Cormorant Infant", sans-serif;
	font-size: 22px;
	color: #fff;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}
.page {
	// .page__hero
	&__hero {
		padding: 198px 0px 58px 0px;
		@media (max-width: 991.98px) {
			padding: 50px 0px 45px 0px;
		}
	}
}
.hero {
	position: relative;
	background-color: #502203;
	overflow: hidden;
	// .hero__container
	&__container {
		display: flex;
		@media (max-width: 991.98px) {
			flex: 1 1 auto;
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 35px;
		}
	}
	// .hero__body
	&__body {
		padding: 57px 30px 0px 0px;
		z-index: 3;
	}
	&__title,
	&__content {
		font-family: "Cormorant Infant";
		font-weight: 700;
		color: #fff;
	}
	&__title:not(:last-child) {
		margin-bottom: 9px;
	}
	// .hero__title
	&__title {		
		font-size: 78px;
		line-height: 129%;
		text-transform: capitalize;
		@media (max-width: 1200px) {
			font-size: 64px;
		}
		@media (max-width: 991.98px) {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
			font-size: 50px;
		}
	}
	// .hero__button
	&__button {
		display: inline-block;
		position: relative;
		padding: 15px 25px;
		font-family: "Cormorant Infant";
		font-size: 24px;
		font-weight: 600;
		text-transform: capitalize;
		border-radius: 4px;
		color: #fff;
		border: 1px solid #fff;
		&::before {
			position: absolute;
			content: "";
			top: 12px;
			left: -8px;
			width: 100%;
			height: 100%;
			border-radius: 4px;
			background-color: rgba(255, 255, 255, 0.06);
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					top: 0;
					left: 0;
				}
			}
		}
	}
	// .hero__image
	&__image {
		padding: 20px;
		flex: 0 0 36.75%;		
		border-radius: 55.128% / 38.8%;
		border: 1px solid #fff;	
		z-index: 2;
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 390 / 554;
			border-radius: 55.128% / 38.8%;
			object-fit: cover;
		}
	}
	// .hero__content
	&__content {
		@media (min-width: 991.98px) {
			padding: 76px 0px 0px 30px;
			flex-basis: 31.625%;
			flex-shrink: 0;
		}
	}
	// .hero__decor-l
	&__decor-l {
		@media (min-width: 991.98px) {
			position: absolute;
			left: 1%;
			bottom: 0;
			max-width: 170px;
		}
	}
	&__decor-l,
	&__decor-r {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;			
		}
		@media (max-width: 991.98px) {
			display: none;
		}
	}
	&__decor-l {
		img {
			aspect-ratio: 170 / 153;
			border-radius: 195px 195px 0px 0px;
			@media (min-width: 1440px) {
				aspect-ratio: 239 / 215;
				border-radius: 195px 195px 0px 0px;
			}
		}
		@media (min-width: 1440px) {
			position: absolute;
			left: 1%;
			bottom: 0;
			max-width: 239px;
		}
	}
	// .hero__decor-r
	&__decor-r {
		position: absolute;
		padding: 10px;
		margin-right: -90px;
		right: 0;
		bottom: 7%;
		max-width: 170px;
		border: 1px solid #fff;
		border-radius: 215px;
		z-index: 2;
	}
	&__decor-r {
		img {
			aspect-ratio: 170 / 241;
			border-radius: 195px;
			@media (min-width: 1440px) {
				aspect-ratio: 237 / 336;
				border-radius: 195px;
			}
		}
		@media (max-width: 1440px) and (min-width: 991.98px) {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(209, 201, 195, 0.4);
				border-radius: 195px;
			}
		}
		@media (min-width: 1440px) {
			position: absolute;
			padding: 10px;
			margin-right: -90px;
			right: 0;
			bottom: 7%;
			max-width: 237px;
			border: 1px solid #fff;
			border-radius: 195px;
		}
	}
	// .hero__decor-line-l
	&__decor-line-l {
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -60px;
	}
	// .hero__decor-line-r
	&__decor-line-r {
		position: absolute;
		top: 34%;
		right: 0;
		margin-right: -20px;
		transform: rotate(-5deg);
	}
}
.content-hero {
	display: flex;
	flex-direction: column;
	gap: 25px;
	// .content-hero__text
	&__text {
		font-size: 22px;
		line-height: 1.4;
		@media (min-width: 991.98px) {
			max-width: 330px;			
		}
	}
	// .content-hero__block
	&__block {
		position: relative;
		padding-left: 10px;
		font-family: "Cormorant Infant";
		font-size: 32px;
		font-weight: 600;
		line-height: 1.2;
		color: #fff;	
		align-self: center;
		text-align: left;
		z-index: 3;
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			width: 1px;
			height: 78.9%;
			background-color: #fff;
			transform: translate(0px, -50%);
		}
		@media (min-width: 991.98px) {
			margin: auto 0;
			align-self: flex-end;
		}
	}
	@media (min-width: 991.98px) {
		align-self: stretch;
		gap: 20px;
	}
}
