@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_common.scss";
// Функції
@import "_functions.scss";

body {
	font-size: toRem(20);
	color: #000;	
	opacity: 0;
	&.dense{
		opacity: 1;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.wrapper main {
	flex-grow: 1;
}

.page {
	padding: toRem(15);
}

.header {
	min-height: toRem(60);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: toRem(20);
	font-weight: 600;	
	color:white;
	background-color: lightblue;
}

.list {
	padding: toRem(25);
}
.list-item {
	&:not(:last-child) {
		margin-bottom: toRem(15);
	}
	font-size: toRem(23);
	font-weight: 600;
	color:brown;
	transition: color 0.3s;
	&.active{
		color:rgb(235, 82, 82);
	}
}

.text {
	&:not(:last-child) {
		margin-bottom: toRem(25);
	}
	p {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
}

.item{
	&:not(:last-child) {
		margin-bottom: toRem(25);
	}
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: toRem(50);
	height: toRem(50);
	border-radius: 50%;
	font-weight: 600;
	background-color: rgb(27, 172, 172);
	color:white;
}

.footer {
	min-height: toRem(60);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: toRem(20);
	font-weight: 600;	
	color:white;
	background-color: lightblue;
	transition: background-color 0.3s;
	&.footer-bg{
		background-color: lightpink;
	}
}